<p> Atualmente só tentei trabalhar um pouco com a base de dados, e gerar os valores que precisaremos para os gráficos. Fiquem livres para qualquer observação ou correção, ou avisar se estiver tudo errado ou desnecessário.</p>
<p> A base de dados usada para os resultadoa abaixo foi baixada do site no dia 21/08</p>

In [2]:
import pandas as pd
import numpy as np
import matplotlib as plt

In [233]:
tab1 = pd.read_csv('caso_full.csv')

In [236]:
tab1.dropna(axis=0,subset=['city_ibge_code'],inplace=True)
tab1 = tab1.astype({'city_ibge_code':int},copy=False)

In [237]:
tab1

,city,city_ibge_code,date,epidemiological_week,estimated_population_2019,is_last,is_repeated,last_available_confirmed,last_available_confirmed_per_100k_inhabitants,last_available_date,last_available_death_rate,last_available_deaths,order_for_place,place_type,state,new_confirmed,new_deaths
0,São Paulo,3550308,2020-02-25,9,12252023.0,False,False,1,0.00816,2020-02-25,0.0000,0,1,city,SP,1,0
1,NaN,35,2020-02-25,9,45919049.0,False,False,1,0.00218,2020-02-25,0.0000,0,1,state,SP,1,0
2,São Paulo,3550308,2020-02-26,9,12252023.0,False,False,1,0.00816,2020-02-26,0.0000,0,2,city,SP,0,0
3,NaN,35,2020-02-26,9,45919049.0,False,False,1,0.00218,2020-02-26,0.0000,0,2,state,SP,0,0
4,São Paulo,3550308,2020-02-27,9,12252023.0,False,False,1,0.00816,2020-02-27,0.0000,0,3,city,SP,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
571549,NaN,43,2020-08-20,34,11377239.0,True,False,104068,914.70347,2020-08-20,0.0283,2948,164,state,RS,177,67
571550,NaN,42,2020-08-20,34,7164788.0,True,False,129072,1801.47689,2020-08-20,0.0152,1960,162,state,SC,2222,42
571551,NaN,28,2020-08-20,34,2298696.0,True,False,69502,3023.54030,2020-08-20,0.0253,1757,160,state,SE,435,12
571552,NaN,35,2020-08-20,34,45919049.0,True,False,730828,1591.55735,2020-08-20,0.0382,27905,178,state,SP,9451,314
571553,NaN,17,2020-08-20,34,1572866.0,False,True,40786,2593.10075,2020-08-19,0.0134,547,156,state,TO,0,0

In [238]:
tab2 = pd.read_csv('pop2020.csv')
tab2

      Unnamed: 0    ARmaior  Armenor            NomeMunic         Total   ano
0              1       ACRE  1200013      Acrelândia - AC  17314.098139  2020
1              2       ACRE  1200054    Assis Brasil - AC   9194.869964  2020
2              3       ACRE  1200104       Brasiléia - AC  24644.963700  2020
3              4       ACRE  1200138          Bujari - AC  10830.598010  2020
4              5       ACRE  1200179        Capixaba - AC  12608.267829  2020
...          ...        ...      ...                  ...           ...   ...
5565        5566  TOCANTINS  1721208  Tocantinópolis - TO  21056.027640  2020
5566        5567  TOCANTINS  1721257        Tupirama - TO   1889.616822  2020
5567        5568  TOCANTINS  1721307      Tupiratins - TO   2570.036591  2020
5568        5569  TOCANTINS  1722081    Wanderlândia - TO  10845.015060  2020
5569        5570  TOCANTINS  1722107         Xambioá - TO  10328.311940  2020

[5570 rows x 6 columns]

In [239]:
Tab = tab1.merge(tab2,how='inner',left_on='city_ibge_code',right_on='Armenor')

In [240]:
Tab

,city,city_ibge_code,date,epidemiological_week,estimated_population_2019,is_last,is_repeated,last_available_confirmed,last_available_confirmed_per_100k_inhabitants,last_available_date,...,place_type,state,new_confirmed,new_deaths,Unnamed: 0,ARmaior,Armenor,NomeMunic,Total,ano
0,São Paulo,3550308,2020-02-25,9,12252023.0,False,False,1,0.00816,2020-02-25,...,city,SP,1,0,5274,SÃO PAULO,3550308,São Paulo - SP,1.214262e+07,2020
1,São Paulo,3550308,2020-02-26,9,12252023.0,False,False,1,0.00816,2020-02-26,...,city,SP,0,0,5274,SÃO PAULO,3550308,São Paulo - SP,1.214262e+07,2020
2,São Paulo,3550308,2020-02-27,9,12252023.0,False,False,1,0.00816,2020-02-27,...,city,SP,0,0,5274,SÃO PAULO,3550308,São Paulo - SP,1.214262e+07,2020
3,São Paulo,3550308,2020-02-28,9,12252023.0,False,False,2,0.01632,2020-02-28,...,city,SP,1,0,5274,SÃO PAULO,3550308,São Paulo - SP,1.214262e+07,2020
4,São Paulo,3550308,2020-02-29,9,12252023.0,False,False,2,0.01632,2020-02-29,...,city,SP,0,0,5274,SÃO PAULO,3550308,São Paulo - SP,1.214262e+07,2020
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
564648,Rolador,4315958,2020-08-18,34,2323.0,False,False,1,43.04778,2020-08-18,...,city,RS,0,0,4201,RIO GRANDE DO SUL,4315958,Rolador - RS,2.361922e+03,2020
564649,Rolador,4315958,2020-08-19,34,2323.0,False,False,2,86.09557,2020-08-19,...,city,RS,1,0,4201,RIO GRANDE DO SUL,4315958,Rolador - RS,2.361922e+03,2020
564650,Rolador,4315958,2020-08-20,34,2323.0,True,False,2,86.09557,2020-08-20,...,city,RS,0,0,4201,RIO GRANDE DO SUL,4315958,Rolador - RS,2.361922e+03,2020
564651,Ribeirão Corrente,3543105,2020-08-19,34,4718.0,True,False,1,21.19542,2020-08-19,...,city,SP,1,0,5194,SÃO PAULO,3543105,Ribeirão Corrente - SP,4.895874e+03,2020
564652,Ribeirão Corrente,3543105,2020-08-20,34,4718.0,False,True,1,21.19542,2020-08-19,...,city,SP,0,0,5194,SÃO PAULO,3543105,Ribeirão Corrente - SP,4.895874e+03,2020

In [188]:
ultimo_dia_semana = list(Tab[Tab['city']=='São Paulo'].groupby('epidemiological_week')['date'].agg(lambda x:x[x.last_valid_index()]).values)
ultimo_dia_semana

['2020-02-29',
 '2020-03-07',
 '2020-03-14',
 '2020-03-21',
 '2020-03-28',
 '2020-04-04',
 '2020-04-11',
 '2020-04-18',
 '2020-04-25',
 '2020-05-02',
 '2020-05-09',
 '2020-05-16',
 '2020-05-23',
 '2020-05-30',
 '2020-06-06',
 '2020-06-13',
 '2020-06-20',
 '2020-06-27',
 '2020-07-04',
 '2020-07-11',
 '2020-07-18',
 '2020-07-25',
 '2020-08-01',
 '2020-08-08',
 '2020-08-15',
 '2020-08-20']

In [242]:
tab_states = tab1[tab1['place_type']=='state']
# NOVOS CASOS POR ESTADO POR SEMANA, EXEMPLO = SP
tab_states[tab_states['state']=='SP'].groupby('epidemiological_week')['new_confirmed'].agg(np.sum)
# NOVAS MORTES POR ESTADO POR SEMANA, EXEMPLO = SP
tab_states[tab_states['state']=='SP'].groupby('epidemiological_week')['new_deaths'].agg(np.sum)

epidemiological_week
9        0
10       0
11       0
12      15
13      69
14     176
15     300
16     431
17     676
18     919
19    1022
20    1080
21    1357
22    1487
23    1526
24    1523
25    1913
26    1769
27    1733
28    1706
29    1945
30    1870
31    1719
32    1780
33    1764
34    1125
Name: new_deaths, dtype: int64

In [241]:
# CASOS ACUMULADOS POR SEMANA EM SP
tab_states[tab_states['state']=='SP'].groupby('epidemiological_week')['date','last_available_confirmed'].agg(lambda x:x[x.last_valid_index()])
# MORTES ACUMULADAS POR SEMANA EM SP
tab_states[tab_states['state']=='SP'].groupby('epidemiological_week')['date','last_available_deaths'].agg(lambda x:x[x.last_valid_index()])

C:\Users\vicda\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  This is separate from the ipykernel package so we can avoid doing imports until

                            date  last_available_deaths
epidemiological_week
9                     2020-02-29                      0
10                    2020-03-07                      0
11                    2020-03-14                      0
12                    2020-03-21                     15
13                    2020-03-28                     84
14                    2020-04-04                    260
15                    2020-04-11                    560
16                    2020-04-18                    991
17                    2020-04-25                   1667
18                    2020-05-02                   2586
19                    2020-05-09                   3608
20                    2020-05-16                   4688
21                    2020-05-23                   6045
22                    2020-05-30                   7532
23                    2020-06-06                   9058
24                    2020-06-13                  10581
25                    2020-06-20                  12494
26                    2020-06-27                  14263
27                    2020-07-04                  15996
28                    2020-07-11                  17702
29                    2020-07-18                  19647
30                    2020-07-25                  21517
31                    2020-08-01                  23236
32                    2020-08-08                  25016
33                    2020-08-15                  26780
34                    2020-08-20                  27905

In [243]:
# QUANTIDADE DE CASOS ACUMULADOS POR SEMANA EPIDEMIOLOGICA SOMANDO TODOS OS ESTADOS
tab_states[tab_states['date'].isin(ultimo_dia_semana)].groupby('epidemiological_week')['last_available_confirmed'].agg(sum)
# QUANTIDADE DE MORTES ACUMULADOS POR SEMANA EPIDEMIOLOGICA SOMANDO TODOS OS ESTADOS
tab_states[tab_states['date'].isin(ultimo_dia_semana)].groupby('epidemiological_week')['last_available_deaths'].agg(sum)

epidemiological_week
9          0
10         0
11         0
12        18
13       115
14       445
15      1141
16      2375
17      4074
18      6808
19     10695
20     15698
21     22191
22     28895
23     36054
24     42792
25     50100
26     57159
27     64410
28     71578
29     78870
30     86536
31     93668
32    100648
33    107364
34    112459
Name: last_available_deaths, dtype: int64